.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    background: url("http://images.squarespace-cdn.com/content/v1/573a52d207eaa04f72e97d3c/1587602830838-ISXJQUYNUPA8OW1LSC3N/ke17ZwdGBToddI8pDm48kHkH3DN7S8Ot20x29qAumXl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QHyNOqBUUEtDDsRWrJLTmEczKEiHaQrO44vfJ0kKvICKeHSWMSA5idJOlHjedEqNLh8H9Xx0plFCKaJUmVusl/Vintage+Fruiting+Branch_pics+for+website_TILE_peach.jpg") no-repeat center center fixed;
}

.fruits {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-radius: 15px;
    margin: 30px;
    width: 500px;
    height: 100px;
    font-weight: bold;
    align-content: center;
    font-size: 20px;
    background: rgb(255, 255, 255, 0.6);
}

.fruits button {
    margin: 30px;
}

.order-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgb(255, 255, 255, 0.6);
    border-style: solid;
    border-radius: 15px;
    padding-bottom: 10px;
}

.contact-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.radio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px;
}

.buttons {
    margin: 30px;
    border-style: solid;
    border-radius: 15px;
    width: 120px;
    height: 40px;
    font-size: medium;
}

.labels {
    margin: 3px;
}